{% extends 'public/base.html' %}
{% block title %}Pictures – Canyon Farms RV Park{% endblock %}
{% block content %}
<section class="background2 py-5">
  <div class="container-xl">
    <div class="videos mb-5">
      <iframe width="562" height="316" src="https://www.youtube.com/embed/KJrXkVku4TA" title="Canyon Farms overview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="562" height="316" src="https://www.youtube.com/embed/nTNVlnmA0uM" title="RV park flyover" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="slideshow-embed">
      <iframe src="https://docs.google.com/presentation/d/1JfLPHgb6naBh6QOBa7oMVz7pl-eW3dFXddXL4J8CZNc/embed?start=false&loop=true&delayms=6000"
              frameborder="0"
              width="960"
              height="569"
              allowfullscreen="true"
              mozallowfullscreen="true"
              webkitallowfullscreen="true"></iframe>
    </div>
  </div>
</section>
{% endblock %}
